.container {
  background-color: grey;
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-wrap: wrap;
}

.head {
  width: 100%;
  background-color: rgb(179, 125, 55);
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 100%;
  background-color: aquamarine;
}

.end {
  width: 100%;
  background-color: rgb(244, 127, 255);
}

label {
  display: block;
  font-size: large;
  font-weight: bold;
}

.dane,
.logowanie {
  width: 50%;
}

legend {
  text-align: center;
}

fieldset {
  border-style: dashed;
  border-radius: 10px;
}
